<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FormTitle" value="时间表和两行根数拷贝（客户端）" />
    <add key="Version" value="1.0.0" />
    <add key="TargetMacAddress" value="70-15-FB-10-17-60" />
    <add key="WakeUpTime" value="15:38:00" />
  </appSettings>
</configuration>